<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml' class='no-js'>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  <title>{{ page.title }} / red91.com</title>

  {% if page.description %}
    <meta name="description" content="{{page.description}}" />
  {% else %}
    <meta name="description" content="{{site.description}}" />
  {% endif %}

  {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}" />
  {% else %}
    <meta name="keywords" content="{{site.keywords}}" />
  {% endif %}

  <meta name="author" content="{{site.copyright}}" />
  <meta name="viewport" content="width=600;" />
  <link rel="sitemap" href="{{ site.baseurl }}/sitemap.xml" type="application/xml" />
  <link rel="meta" type="application/rdf+xml" title="Dublin" href="/dublin.rdf" />
	<link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png" />

  <link rel="stylesheet" href="/css/site.css" media="screen, projection, print" />

  <!--[if lt IE 9]>
  <script src="/support/html5shiv.js"></script>
  <![endif]-->

  <script charset='utf-8' src='/js/site.js'></script>
</head>
<body>

<div class="site" role="main">

  {{ content }}

  <footer class="footer" role="contentinfo">
    <small>&copy; 2006-{{ site.time | date: '%Y' }} <a class="url" href="http://uxgent.co" title="portfolio">John Griffiths</a></small>
  </footer>

</div>

<a href="http://github.com/johnantoni"><img class="github-ribbon" src="{{ site.baseurl }}/img/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<img class="network-status" src="{{ site.baseurl }}/img/disconnected-48.png" alt="network disconnection icon" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-393335-39', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
