<header role="banner">
  <h1 class="post entry-title"><a rel="bookmark" href="{{ page.url }}" title="{{ page.title }}" tabindex="7">{{ page.title }}</a></h1>
</header>

<h3 class="meta">
  Published <em class="published">{{ page.date | date_to_string }}</em> &#124;
  Under <a rel="tag" href="{{ site.baseurl }}/tags.html#{{ page.category }}" title="View posts under {{ page.category }}"  tabindex="8"><em>{{ page.category }}</em></a>
</h3>

<a rel="twitter" href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="johnantoni">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
